{% block pageid %}home{% endblock %}
{% block title %}home{% endblock %}
{% block loading %}{% endblock %}

{% extends 'layout/_layout.html' %}

{% block content %}

<main class="main main--home clear" id="main" role="main" data-page="Home" data-page-title="Home">
	<article class="content content--home" id="content" data-component="Home">
    <div class="article-list" data-template="Home"></div>
    <div class="roman-converter">
      <input class="js-roman-converter" type="text">
      <div class="js-roman-result"></div>
    </div>
	</article>
</main>

{% endblock %}

{% block scripts %} 
{% endblock %}